<!-- <h1>Change User Password</h1>
<h1>Users#new</h1> -->

<% if flash[:alert] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with model: @user, class: 'formInput', url: users_password_path(@user), method: :patch do |f| %>
  <div class="formInput form-group">
    <h1>Change Password</h1>
    <%= f.label :current_password %> 
    <%= f.text_field :current_password %>
  </div>
  <div class="formInput form-group">
    <%= f.label :new_password %> 
    <%= f.text_field :new_password %>
  </div>
  <div class="formInput form-group">
    <%= f.label :new_password_confirmation %> 
    <%= f.text_field :new_password_confirmation %>
  </div>
  <%= f.submit "Update Password", class: "btn btn-outline-primary btn-size my-2" %> 
<% end %>


